<div class = "acount">
  <div class = "name">
    <a href = "#">Jim</a>
  </div>
  <div class = chat_create>
    <a href = "#">チャットを作成する</a>
  </div>
</div>
<div class = "rooms">
  <div class = "room">
    <div class = "chat_room">
      <a href = "#">techroom1</a>
    </div>
  </div>
  <div class = "room">
    <div class = "chat_room">
      <a href = "#">techroom2</a>
    </div>
  </div>
</div>